# VS files
*.sln
*.vcxproj
*.vcxproj.*
*.exe
*.pdb
*.ilk
*.obj
*.log
*.idb
*.tlog
*.lastbuildstate

# vs code crap
.vscode/ipch/

# VS project folders
.vs/
x64/
temper/

# other files
*.zip

# build folders
build/

# vim files
*.un~
*.*~
