# VS files
*.sln
*.vcxproj
*.vcxproj.*
*.exe
*.pdb
*.ilk
*.obj
*.log
*.idb
*.tlog
*.lastbuildstate

# VS project folders
.vs/
.vscode/
x64/
temper/

# other files
*.bat
*.zip
*.json
*.code-workspace

# build folders
build/

# vim files
*.un~
*.*~
